#simon {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;

	.board {
	    width: 575px;
	    height: 575px;
	    border-radius: 50%;
	    background-color: #323232;
	    display: flex;
	    justify-content: center;
	    align-items: center;

		.buttons {
			width: 95%;
			height: 95%;
			display: flex;
		  flex-wrap: wrap;
		}

		#green, #red,
		#yellow, #blue {
			height: 45%;
			width: 45%;
			margin: auto;
		}

		#green {
	    background-color: green;
	    border-top-left-radius: 100%;
		}

		#red {
			background-color: red;
		  border-top-right-radius: 100%;
		}

		#yellow {
			background-color: yellow;
		  border-bottom-left-radius: 100%;
		}

		#blue {
			background-color: blue;
		  border-bottom-right-radius: 100%;
		}

		.controls {
			height: 245px;
			width: 245px;
	    position: absolute;
	    background-color: white;
	    border-radius: 50%;
	    border: 23px solid #323232;
		}

		h1 {
	    text-align: center;
	    margin-top: 12%;
	    margin-bottom: 7%;
	    font-size: 48px;
	    font-weight: 900;
		}

		h1 sup {
	    font-size: 16px;
	    top: -1.5em;
		}

		.settings {
	    text-align: center;
		}

		.settings-col {
	    margin: 0 10px;
	    display: inline-block;
		}

		.settings-col button {
	    border-radius: 50%;
	    border: 2px solid #323232;
	    height: 20px;
	    width: 20px;
	    outline: none;
	    margin-bottom: 5px;
		}

		.settings-col p {
			font-size: 12px;
		}

		input.level-count {
	    line-height: 1;
	    width: 42px;
	    text-align: center;
	    background-color: black;
	    border: none;
	    color: red;
	    border-radius: 11%;
	    font-size: 21px;
	    padding: 5px;
		}

		button.start {
	    background-color: red;
		}

		button.strict {
	    background-color: yellow;
		}

		.strict-light {
	    border-radius: 50%;
	    border: 1px solid #323232;
	    height: 5px;
	    width: 5px;
	    margin: 0 auto 5px auto;
		}

		.switch {
	    width: 40px;
	    height: 22px;
	    margin: 15px auto;
	    position: relative;
		}

		/* Hide default HTML checkbox */
		.switch input {display:none;}


		/* The slider */
		.slider {
		  position: absolute;
		  cursor: pointer;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background-color: #ccc;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		.slider:before {
		  position: absolute;
		  content: "";
		  height: 17px;
		  width: 17px;
		  left: 3px;
		  bottom: 3px;
		  background-color: white;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		/* Rounded sliders */
		.slider.round {
		  border-radius: 34px;
		}

		.slider.round:before {
		  border-radius: 50%;
		}

		.switch input:checked + .slider {
		  background-color: #2196F3;
		}

		.switch input:focus + .slider {
		  box-shadow: 0 0 1px #2196F3;
		}

		.switch input:checked + .slider:before {
		  -webkit-transform: translateX(16px);
		  -ms-transform: translateX(16px);
		  transform: translateX(16px);
		}
	}

	.description {
		ul {
			list-style: none;
		}

		li {
			padding: 10px 0px;
			font-size: 18px;
	    font-family: 'Jura', sans-serif;
	    font-weight: 400;
		}

		li i {
			padding-right: 7.5px;
		}

	}
}

@media (max-width: 1298px) {
	#simon {
		padding-top: 55px;
	}

	#simon .board {
		margin-bottom: 55px;
	}
}

@media (max-width: 768px) {
	#simon .board {
		width: 475px;
		height: 475px;
	}
	#simon .description ul { padding: 0px; }
}
