.tictactoe {
	.columns .column {
		display: flex;
		margin-top: 75px;
	}
	.display {
		margin: auto;
		width: 100%;
	}
	.board-container {
		height: 0;
		width: 100%;
		padding-bottom: 100%;
		position: relative;
		.board {
			display: grid;
			grid-gap: .15em;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(3, 1fr);
			height: 100%;
			width: 100%;
			position: absolute;
			.space {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 4em;
				background-color: #6666ff;
				color: yellow;
				&:hover {
					cursor: pointer;
					color: yellow;
				}
			}
		}
		.zero, .two, .four, .six, .eight { color: #4666FF; }
		.one, .three, .five, .seven, .nine { color: #C2FF46; }
	}

	.controls {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: 25px;

		h3 {
			margin: 0px;
			font-size: 1.5em;
			font-family: 'Josefin Slab', serif;
		}

		label.radio-btn {
	    display: block;
	    position: relative;
	    padding-left: 35px;
	    cursor: pointer;
	    font-size: 22px;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    input {
	    	position: absolute;
		    opacity: 0;
	    }
	    span.checkmark {
  	    position: absolute;
		    top: 0;
		    left: 0;
		    height: 25px;
		    width: 25px;
		    background-color: #eee;
		    border-radius: 50%;
	    }
	    span.checkmark:after {
	    	content: "";
		    position: absolute;
		    display: none;
  	    top: 9px;
				left: 9px;
				width: 8px;
				height: 8px;
				background: yellow;
	    	
	    }
			/* When the radio button is checked, add a blue background */
			input:checked ~ .checkmark {
			  background-color: #6666ff;
			}
			/* Show the indicator (dot/circle) when checked */
		  input:checked ~ .checkmark:after {
			  display: block;
			}
		}

		button {
			padding: 5px 10px;
			background-color: #fff;
			border: 1px solid black;
			font-family: 'Jura', sans-serif;
			&:hover { cursor: pointer; }
			&:focus { outline: 0; }
		}
	}
}

.tictactoe .description {
	h1 {
		margin-top: 1.15em;
		margin-bottom: .25em;
		font-weight: 100;
		font-family: 'Josefin Slab', serif;
		font-size: 24px;
	}
	ul {
		list-style: none;
	}
	li {
		padding-bottom: 10px;
		font-size: 18px;
    font-family: 'Jura', sans-serif;
    font-weight: 400;
	}
	li i {
		padding-right: 7.5px
	}
}

@media (min-width: 1024px) {
	.tictactoe .columns .column {
		margin-top: 0;
	}
}
