#tictactoe {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

#tictactoe .game-board {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;

	#board {
		width: 600px;
		height: 600px;
		background-color: #000;
		margin: 6em 0 2em 0;
	}

	.board-row {
		width: 100%;
		height: 33.333333%;
		display: flex;
		border: 1px solid #fff;
	}

	.board-space {
		height: 100%;
		width: 33.333333%;
		border: 1px solid #fff;
		font-family: 'Josefin Slab', serif;
		font-size: 4em;
		display: flex;
		justify-content: center;
		align-items: center;
		user-select: none;
		-webkit-user-select: none; /* Chrome/Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+ */
	}

	.board-space:hover {
		background-color: #c3c3c3;
		opacity: 0.5;
		cursor: pointer;
	}

	.zero, .two, .four, .six, .eight {
		color: #4666FF;
	}

	.one, .three, .five, .seven, .nine {
		color: #C2FF46;
	}

	#controls {

	}
}

#tictactoe .game-description {
	width: 35%;

	h1 {
		margin: 1.15em 0 .25em -.5em;
		font-weight: 100;
		font-family: 'Josefin Slab', serif;
	}

	ul {
		list-style: none;
		padding: 0px;
	}

	li {
		padding: 10px 0px;
		font-size: 18px;
	    font-family: 'Jura', sans-serif;
	    font-weight: 400;
	}

	li:before {
		content: '\f105';
		font-family: FontAwesome;
		display: inline-block;
		margin-left: -1.3em;
		width: 1.3em;
	}
}






