.weather {
	font-family: 'Jura', serif;
	.columns .column {
		display: flex;
	}

	div.display {
		margin: 3em auto;
		h1 {
			font-size: 3.5em;
			font-weight: 800;
			text-align: center;
			margin-top: 0;
		}
	  div.icon {
	  	display: flex;
	  	align-items: center;
	  	flex-direction: column;
	  	margin: 0;
	  	width: 100%;
	  	height: auto;
	  	i {
		  	margin: 0.25em 10px;
				font-size: 10em;
				color: rgb(146, 77, 163);
			}
	  }
	  div.temperature {
	  	text-align: center;
	  	p:first-child {
		  	margin: 0 10px;
				font-size: 4em;
				font-weight: 100;
			}
			p:last-child {
				font-size: 1.25em;
				margin: 0;
			}
	  }
	  div.options {
	  	display: flex;
	  	justify-content: center;
	  	margin-top: 40px;
	  	margin-bottom: 20px;
	  }
	  div.options button,
	  div.city-search input[type=submit] {
			margin: 0 10px;
			background-color: rgb(146, 77, 163);
	    color: yellow;
	    padding: 5px 10px;
	    border-radius: 4px;
	  }
	  div.options button:hover,
	  div.city-search input[type=submit]:hover {
	  	cursor: pointer;
	  }
	  div.options button:focus,
	  div.city-search input[type=submit]:focus {
			outline: 0;
	  }
	  div.city-search {
	  	display: flex;
	  	justify-content: center;
	  	align-items: flex-start;
			input[type=text] {
		    padding: 5px 10px;
		    border-radius: 4px;
		    border: 1px solid rgb(146, 77, 163);
			}
	  }
	}

	.description {
		margin: auto;
		h1 {
			font-size: 2em;
			font-weight: 400;
			text-align: center;
			margin-bottom: 1em;
		}
		ul {
			list-style: none;
		}
		li {
			font-size: 18px;
	    font-family: 'Jura', sans-serif;
	    font-weight: 400;
	    padding-bottom: 20px;
		}
		li i {
			padding-right: 7.5px;
		}
	}
}
