---
title: weather
collections: portfolio
---

<div class="center-block">
	<div id="weather">
		
		<div class="display">
			<h1 v-text="city + ', ' + country"></h1>
			<div class="data">
				<div>
					<i :class="['wi', icon]"></i>
					<p v-text="description"></p>
				</div>
				<span class="temperature" v-text="temp + '&deg;'"></span>
			</div>
			<div class="options">
				<button @click="farenheight">Farenheight</button>
				<button @click="celsius">Celsius</button>
				<button @click="getLocalWeather">User Location</button>
			</div>
			<div class="city-search">
				<div>
					<input type="text" name="city" v-model="input" @keyup.enter="searchWeatherByCity">
					<p v-show="error" v-text="'invalid entry'"></p>
				</div>
				<input type="submit" value="Search" @click="searchWeatherByCity">
			</div>
		</div>

		<div class="description">
			<h1>Weather Application</h1>
			<ul>
				<li><i class="fa fa-angle-right"></i> Uses OpenWeatherMap API to get up-to-date weather information</li>
				<li><i class="fa fa-angle-right"></i> Users location is determined by IP address</li>
				<li><i class="fa fa-angle-right"></i> Search requires a city and/or country</li>
				<li><i class="fa fa-angle-right"></i> Check out the <a href="#">Git repository</a></li>
			</ul>
		</div>

	</div> <!-- end #calculator -->
</div> <!-- end container -->

{% include weather-footer.html %}

