---
title: weather
collections: portfolio
---

<div class="center-block">
	<div id="weather">
		
		<div class="display">
			<h1 v-text="city"></h1>
			<div v-if="!loading" class="icon">
				<i :class="['wi', icon]"></i>
			</div>
			<div v-if="loading" class="icon">
				<i class="fa fa-spinner fa-spin"></i>
			</div>
			<div class="temperature">
				<p v-text="temp + ' &deg;' + unit"></p>
				<p v-text="iconDescription"></p>
			</div>
			<div class="options">
				<button @click="farenheight">Farenheight</button>
				<button @click="celsius">Celsius</button>
				<button @click="getLocalWeather">User Location</button>
			</div>
			<div class="city-search">
				<input type="text" name="city" v-model="input" @keyup.enter="searchWeatherByCity">
				<input type="submit" value="Search" @click="searchWeatherByCity">
			</div>
		</div>

		<div class="description">
			<h1>Weather Application</h1>
			<ul class="fa-ul">
				<li><i class="fa fa-li fa-angle-right"></i> Uses OpenWeatherMap API to get up-to-date weather information</li>
				<li><i class="fa fa-li fa-angle-right"></i> Users location is determined by IP address</li>
				<li><i class="fa fa-li fa-angle-right"></i> Search requires a city and/or country</li>
				<li><i class="fa fa-li fa-angle-right"></i> Check out the <a href="#">Git repository</a></li>
			</ul>
		</div>

	</div> <!-- end #calculator -->
</div> <!-- end container -->

{% include weather-footer.html %}

