<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://use.fontawesome.com/d3c9e0b791.js"></script>
<script src="https://unpkg.com/vue@2.4.4"></script>

<script type="text/javascript" src="/assets/js/tictactoe/board.js"></script>
<script type="text/javascript" src="/assets/js/tictactoe/boardspace.js"></script>
<script type="text/javascript" src="/assets/js/tictactoe/players.js"></script>

<script>
	new Vue({
		el: '.display',
		data: {
			board: new Board(),
			computer: new Player(),
			user: new Player(),
			symbol: '',
			start: false
		},
		created() {
			this.computer.settings(this.board, this.user, true)
			this.user.settings(this.board, this.computer, false)
		},
		watch: {
			symbol(value) {
				this.user.setMarker(value)
				this.board.reset()
			}
		},
		mounted() {
			// console.log(this.board)
		},
		methods: {
			startGame() {
				if (this.symbol === '') {
					alert('Please choose a symbol')
				} else {
					this.start = true
					this.user.turn = true
					this.board.reset()
				}
			},
			occupySquare(square) {
				if (this.start && this.user.turn && !square.occupied) {
					this.board.update(square, this.symbol)
					if (!this.board.gameover()) {
						this.user.endTurn()
					} else {
						this.board.displayWinner()
					}
				} else {
					alert('Please choose a symbol and click start')
				}
			}
		}
	})
</script>

</body>
</html>