</section>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://use.fontawesome.com/d3c9e0b791.js"></script>
<script src="/assets/js/app.js"></script>

<script type="text/javascript" src="/assets/js/tictactoe/board.js"></script>
<script type="text/javascript" src="/assets/js/tictactoe/boardspace.js"></script>
<script type="text/javascript" src="/assets/js/tictactoe/players.js"></script>

<script>
	var $board = new Board();
	var p1, p2;
	var x = $('.x')[0];
	var o = $('.o')[0];
	$(document).ready(function() {
		console.log($board);
		document.addEventListener('click', function() {
			console.log($board.spaces.length);
		});
		$('.start').click(function() {
			if (!x.checked && !o.checked) {
				alert('Please choose a symbol');
			} else if (x.checked) {
				p1 = new Player($board, 'X', false);
				p2 = new Player($board, 'O', true);
				$board.reset();
				$board.play(p1, p2);
			} else {
				p1 = new Player($board, 'O', false);
				p2 = new Player($board, 'X', true);
				$board.reset();
				$board.play(p1, p2);
			}
			
		});
	});
</script>

</body>
</html>