<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
<script src="https://use.fontawesome.com/d3c9e0b791.js"></script>


<script>
	new Vue({
		el: '.display',
		data: {
			city: '',
			country: '',
			temp: 0,
			unit: 'farenheight',
			icon: 'wi-na',
			iconDescription: 'unavailable',
			input: '',
			error: false
		},
		methods: {
			farenheight() {
				if (this.unit !== 'farenheight') {
					this.temp = parseFloat((this.temp * 1.8 + 32).toFixed(2))
					this.unit = 'farenheight'
				}
			},
			celsius() {
				if (this.unit !== 'celsius') {
					this.temp = parseFloat(((this.temp - 32) / 1.8).toFixed(2))
					this.unit = 'celsius'
				}
			},
			searchWeatherByCity() {
				let openWeatherMapURL = "http://api.openweathermap.org/data/2.5/weather" + 
					"?q=" + this.input + 
					"&appid=51f61b5f031e34a4e3c790f126690615" + 
					"&units=imperial"
				axios.get(openWeatherMapURL)
					.then((response) => {
						this.error = false
						this.displayResults(response)
					})
					.catch((error) => {
						this.error = true
					})
			},
			getLocalWeather() {
				axios.get('http://ipinfo.io') //switch to geolocation web api
					.then((response) => {
						let lat = response.data.loc.split(',')[0]
						let lng = response.data.loc.split(',')[1]
						let openWeatherMapURL = "http://api.openweathermap.org/data/2.5/weather" + 
							"?lat=" + lat + 
							"&lon=" + lng + 
							"&appid=51f61b5f031e34a4e3c790f126690615" + 
							"&units=imperial"
						return axios.get(openWeatherMapURL)
					})
					.then((response) => {
						this.error = false
						this.displayResults(response)
					})
			},
			displayResults(response) {
				this.city = response.data.name
				this.country = response.data.sys.country
				this.temp = response.data.main.temp
				this.unit = 'farenheight'
				this.setIcon(response.data.weather[0].icon)
				this.iconDescription = response.data.weather[0].description
				this.adjustIconHeight()
			},
			adjustIconHeight() {
				var color = window.getComputedStyle(document.querySelector('.wi'), ':before').offSetHeight
				console.log(color)
			},
			setIcon(icon) {
				let _this = this
				switch (icon) {
					case '01d':
						_this.icon = 'wi-day-sunny'
						break
					case '01n':
						_this.icon = 'wi-night-clear'
						break
					case '02d':
					case '03d':
					case '04d':
						_this.icon = 'wi-day-cloudy'
						break
					case '02n':
					case '03n':
					case '04n':
						_this.icon = 'wi-night-alt-cloudy'
						break	
					case '09d':
						_this.icon = 'wi-day-showers'
						break
					case '09n':
						_this.icon = 'wi-night-alt-showers'
						break
					case '10d':
						_this.icon = 'wi-day-rain'
						break
					case '10n':
						_this.icon = 'wi-night-alt-rain'
						break
					case '11d':
						_this.icon = 'wi-day-lightning'
						break
					case '11n':
						_this.icon = 'wi-night-alt-thunderstorm'
						break
					case '13d':
						_this.icon = 'wi-day-snow'
						break
					case '13n':
						_this.icon = 'wi-night-alt-snow'
						break
					case '50d':
						_this.icon = 'wi-day-fog'
						break
					case '50n':
						_this.icon = 'wi-night-fog'
						break
					default:
						_this.icon = 'wi-na'
				}
			},
			getUserLocation() {
				return new Promise((resolve, reject) => {
					navigator.geolocation.getCurrentPosition((e) => {
						resolve(e.coords)
					})
				})
			}
		},
		mounted() {
			// this.getLocalWeather()
			if ("geolocation" in navigator) {
				this.getUserLocation()
					.then((e) => {
						let openWeatherMapURL = "https://api.openweathermap.org/data/2.5/weather" + 
							"?lat=" + e.latitude + 
							"&lon=" + e.longitude + 
							"&appid=51f61b5f031e34a4e3c790f126690615" + 
							"&units=imperial"
						return axios.get(openWeatherMapURL)
					})
					.then((response) => {
						this.error = false
						this.displayResults(response)
					})
			}
		}

	})
</script>

</body>
</html>