---
---

@import url('https://fonts.googleapis.com/css?family=Boogaloo');
@import 'portfolio';
@import 'simon';
@import 'tictactoe';
@import 'circle';
@import 'calculator';

/****************************
		GENERAL STYLES
****************************/

.container {
	border-bottom: 1px solid #000;
}

.center-block {
	/* 58px is height of navbar */
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 58px);
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

@media (min-width: 1441px) {
	nav.navbar, #about, #portfolio {
		max-width: 75vw;
		margin: auto;
	}
}

/****************************
				NAVIGATION
****************************/

nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
	box-sizing: border-box;
	position: sticky;
	top: 0px;
	background-color: #fff; 
	z-index: 100;
}
div.social a {
  color: #000;
  display: inline-block;
  margin: 0 5px;
  font-size: 0.85em;
}
ul.links {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.links li {
  display: inline-block;
  margin: 0 5px;
}
ul.links li a {
  text-decoration: none;
  font-size: 12px;
  color: #000;
}
ul.links li a:hover {
  color: grey;
}
ul.links li a:focus,
ul.links li a:active {
  text-decoration: underline;
}
@media (min-width: 786px) {
  nav.navbar { 
		padding: 15px 10%;
  }
  ul.links li { margin: 0px 15px; }
  ul.links li a { letter-spacing: 3px; }
}

/****************************
				HOME PAGE
****************************/

#home {

	h1 {
		font-weight: 100;
		text-align: center;
		font-size: 6em;
		margin: 0px auto 15px;
		font-family: 'Josefin Slab', serif;

	}

	h2 {
		font-weight: 100;
		text-align: center;
		margin: 0px;
		font-size: 2.5em;
		font-family: 'Jura', sans-serif;

	}

	.display-line {
		width: 90%;
		margin: auto;
		border-bottom: 3px solid black;
	}

	i.fa {
		background-color: white;
    padding: 5px 15px;
    margin: 0px 44%;
    font-size: 2em;
    position: relative;
    bottom: 22px;
	}

}


/****************************
				ABOUT PAGE
****************************/

#about {

	.c100 {
		float: none;
		margin: 25px auto;
	}

	.c100.big {
		font-size: 115px; /*default width 240px*/
	}

	.description {
		margin: 50px 10px;
		h1 {
			font-family: 'Josefin Slab', serif;
			text-align: center;
		  margin: 5px auto;
		}

		.img-container {
			width: 100%;
			margin-bottom: 40px;
		}
		
		img {
			width: 100%;
			box-sizing: border-box;
			display: block;
			border: 1px solid black;
		}

		p {
			font-family: 'Jura', sans-serif;
			line-height: 2;
			font-size: 1.15em;
		}

		a {
			text-decoration: none;
		}

	}
	.skills {
		margin: 10px;
		h1 {
		  font-family: 'Josefin Slab', serif;
		  text-align: center;
		  margin: 5px auto;
		}

		.css-grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
			grid-gap: 1em;
			margin-bottom: 25px;
		}
		
		.skill-item {
			padding: 0px;
			margin: 0px;
			box-sizing: border-box;
		}

		.skill-item p {
			font-size: 1.35em;
			margin: 0px;
			text-align: center;
			font-family: 'Josefin Slab', serif;
		}
	
	}

	@media (min-width: 768px) {
		.description {
			img {
				width: 50%;
				float: left;
				margin: 15px 15px 0px 0px;
			}
		}
		.skills .css-grid {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}

	}

	@media (min-width: 992px) {
		.description {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			h1 { 
				width: 90%; 
				text-align: left;
			}
			img {
				width: 30%;
				order: 2;
				margin: 0;
				float: none;
			}
			p { width: 65%; }
		}
		.skills {
			h1 { 
				width: 90%;
				text-align: left;
			}
		}
	}

	@media (min-width: 1200px) {
		.description {
			margin: 50px;
			img { width: 28%; }
			p { width: 68%; }
		}

		.skills {
			margin: 50px;
		}

		.skills .css-grid {
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: initial;
			margin-bottom: 25px;
		}

	}
	
	/* need to test this media query at work */
	@media (min-width: 1850px) {
		#about {
			max-width: 70vw;
		}
		.description {
			h1 { font-size: 2em; }
			p { font-size: 1.5em; }
		}

		.skills {
			h1 { font-size: 2em; }
			.skill-item {
				padding: 50px;
			}
			.skill-item p {
				font-size: 2em;	
			}
		}

		.c100.big {
			font-size: 215px;
		}
	}

}

