---
---

@import url('https://fonts.googleapis.com/css?family=Boogaloo');
@import 'simon';
@import 'tictactoe';
@import 'circle';
@import 'calculator';

/****************************
		GENERAL STYLES
****************************/

button.toggle-nav {
	background: none;
	border: none;
	width: 30px;
	margin: 15px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}

.main-content {
	/* 55px is about size of hamburger-menu box*/
	display: flex;
	align-items: center;
	min-height: 100vh;
	transition: margin-left .5s;
}

.container {
	width: 90%;
	margin: auto;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/****************************
		NAVIGATION
****************************/

nav.navbar-side {
	height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a.closebtn {
	color: #fff;
    font-size: 4em;
    position: relative;
    left: 105px; /*105px for flexbox*/
    text-decoration: none;
}

a.closebtn:hover,
a.closebtn:focus {
	text-decoration: none;
	color: #b6b6b6;
}

ul.nav-links {
	list-style: none;
	margin: 0px; /* auto for flexbox alternative*/
	padding-left: 0px;
	width: 138px;

	/* flexbox alternative */
	/*position: relative;
	bottom: -169px;*/
}

ul.nav-links > li {
	margin: 0px 0px 25px 0px;
	letter-spacing: 5px;
}

ul.nav-links > li > a {
	text-decoration: none;
	color: #fff;
}

ul.nav-links > li > a:hover {
	text-decoration: none;
	color: #b6b6b6;
}

footer {
	color: #fff;
	text-align: center;
	width: 121px;

	/* flexbox alternative */
	/*position: relative;
    bottom: -376px;
    margin: auto;*/


	.social-links {
		margin: 15px 0px;
	}

	.social-links a {
		padding: 0px 10px;
		color: #fff;
	}


}

/****************************
	HOME PAGE
****************************/

#home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	height: 100%;

	i {
		padding: 15px;
		margin: 15px;
		font-size: 2em;
	}

	.headline h1,
	.headline h2 {
		margin: 0px;
		font-weight: 100;
		font-family: 'Josefin Slab', serif;
	}

	.headline h1 {
		font-size: 6.5em;
		margin-bottom: 15px;

	}

	.headline h2 {
		font-size: 2.5em;
		font-family: 'Jura', sans-serif;

	}

	.headline .display-line {
		width: 100%;
		border-bottom: 3px solid black;
	}

	.headline i.fa {
		background-color: white;
		padding: 5px 15px;
		position: relative;
		bottom: 39px;
	}
}


/****************************
		ABOUT PAGE
****************************/

#about {

	&.container {
		margin: 75px auto;
	}

	.c100 {
		float: none;
		margin: 25px auto;
	}

	.c100.big {
		font-size: 115px; /*default width 240px*/
	}

	h1 {
		border-bottom: 1px solid black;
	  font-family: 'Josefin Slab', serif;
	  margin: 0;
	}

	.col-about {
		margin-bottom: 50px;

		.flex-container {
			margin: 15px auto;
		}

		.img-container {
			width: 100%;
			margin-bottom: 40px;
		}
		
		img {
			width: 100%;
			box-sizing: border-box;
			display: block;
			border: 1px solid black;
		}

		p {
			font-family: 'Jura', sans-serif;
			line-height: 2;
			margin: 0px;
			font-size: 1.15em;
		}

		a {
			text-decoration: none;
		}

	}


	.col-skills {
		
		.skill-item {
			width: 33%;
			padding: 0px;
			margin: 0px;
			float: left;
			box-sizing: border-box;
		}

		.skill-item p {
			font-size: 1.35em;
			margin: 0px;
			text-align: center;
			font-family: 'Josefin Slab', serif;
		}
	
	}

	@media (min-width: 992px) {
		.col-skills .skill-item {
			width: 25%;
		}
		.flex-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.col-about .img-container {
			width: 28%;
			margin-bottom: 0;
		}

		.col-about p {
			width: 68%;
		}

	}

	@media (min-width: 1200px) {
		&.container {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			min-height: 75vh;
			margin: 0 auto;
		}


		.col-about {
			margin-bottom: 15px;
		}

		.col-skills .skill-item {
			width: 16.6666666%;
		}

	}

	@media (min-width: 1850px) {
		.col-about {
			margin: 50px auto;
		}

		.col-about .img-container {
			
		}

		.col-about p {
			font-size: 1.5em;
		}

		.col-skills .skill-item {
			padding: 50px;
		}

		.col-skills .skill-item p {
			font-size: 2em;
		}

		.c100.big {
			font-size: 215px;
		}
	}

}


/****************************
		PORTFOLIO PAGE
****************************/

#portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

div.project {
	position: relative;
	width: 30%;
	margin: 10px;
}

div.project img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
	border: 1px solid #000;
}

a.img-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;

}

div.project:hover a.img-hover {
    display: block;
    text-decoration: none;
    background: rgba(0, 0, 0, .6);
    cursor: pointer;
}

a.img-hover h2 {
	text-align: center;
	font-family: 'Josefin Slab', serif;
	font-size: 3em;
	padding-top: 3%;
	margin-bottom: 0px;
}

a.img-hover p {
	text-align: center;
	font-family: 'Jura', sans-serif;
	font-size: 1.5em;
	margin-top: 0px;
}

@media (max-width: 992px) {
	div.project {
		width: 80%;
	}
}

