<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>

  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/css/weather-icons.min.css">
  <link rel="stylesheet" href="/assets/css/weather-icons-wind.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">

</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      
      <div class="navbar-brand">
        <div class="navbar-item">
          <a href="https://www.linkedin.com/in/amfische" target="_blank">
            <i class="fa fa-2x fa-linkedin-square" aria-hidden="true" title="Link to my linkedin profile"></i>
          </a>
          <a href="https://github.com/amfische" target="_blank">
            <i class="fa fa-2x fa-github" aria-hidden="true" title="Link to my github profile"></i>
          </a>
        </div>
        <div :class="[navbarBurger, isOpen ? isActive : '']" v-on:click="toggleNavbar">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      
      <div class="navbar-menu is-active" ref="navmenu">
        <div class="navbar-end">
          <div class="navbar-item" ref="home">
            <a href="/">HOME</a>
          </div>
          <div class="navbar-item" ref="about">
            <a href="/about">ABOUT</a>
          </div>
          <div class="navbar-item" ref="projects">
            <a href="/projects">PROJECTS</a>
          </div>
        </div>
      </div>

    </div>
  </nav>
  
  <div class="main-content-block">
    {{ content }}  
  </div>
